* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(49, 83, 187);
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column-reverse;


}

#card {
    margin-bottom: 60px;
    height: 450px;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid rgb(45, 44, 44);
    position: relative;

}

#stories {
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#stories::-webkit-scrollbar {
    display: none;
}

.story {
    
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    background: linear-gradient(yellow ,  rgb(246, 165, 13), rgb(255, 183, 195) ,rgb(250, 3, 250),blue);
    border: none;
    padding: 3px;
}

.story img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: absolute;
    display: none;
   
}